
main{
  min-height: 80vh;
  /* background-image: url(./img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover; */

background: url('./img.jpg') no-repeat center center/cover;
}